h1 {
    color: rgb(250, 249, 248);
    background-color: hsl(34, 53%, 46%);
    display: block;
    text-align: center;
    border: 3px solid rgb(223, 142, 36);
    padding: 8px;
}

body {
    font-family: serif, "Times New Roman", sans-serif;
}

.short,
.list,
.steps {
    font-size: 20px;
}

.head2 {
    font-size: 30px;
}

.head1 {
    font-size: 50px;
}

.list {
    font-weight: 700;
}

img {
    width: 600px;
    height: auto;
}
h2 {
    margin-top: 36px;
}

.list,
.steps {
    margin-top: -8px;
}