h1 {
    text-align: center;
    color: rgb(119, 93, 5);
    background-color: rgb(224, 221, 211);
    font-family: serif, "Times New Roman", sans-serif;
    font-size: 50px;
    font-weight: 800;
}

a {
    background-color: rgb(41, 26, 19);
    font-size: 36px;
}

.cookies {
    color: rgb(143, 86, 13);
}

.banana-pancakes {
    color: rgb(224, 228, 34);
}

.egg-rolls {
    color: rgb(138, 106, 19);
}